
        @font-face {
            font-family: 'raleway';
            font-stretch: 80%; /* Note that font-stretch is a % of normal width */
            font-style: NORMAL; /* See note below */
            font-weight: 300;
            src: url(../../../public/fonts/Raleway-VariableFont_wght.ttf) format("truetype-variations");
        }