.container {
    width: 100vw;
    border-top: 2px solid var(--c-black);
    border-bottom: 2px solid var(--c-black);
}

.wrapp {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: var(--pd-fullwidth);
}

.text {
    color: var(--c-font-global);
    font-family: "raleway";
    font-size: clamp(25px, 3vw, 50px);
}